* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --background: #FBFAF8;
  --borders: #E7E3D9;
  --titles: #32332E;
  --white: #FFFFFF;
  --primary: #8E9882;
  --p: #615F5B;
  --tag-robusta: #758266;
  --tag-arabica: #CD4C15;
}