.productlist {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: var(--titles);
  background-color: inherit;
}

.productlist-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}