.productdetails-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productdetails {
  min-height: 349px;
  min-width: 327px;
  max-width: 600px;
  background-color: var(--white);
  border: 2px solid var(--borders);
  border-radius: 8px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productdetails-image-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productdetails-image {
  max-height: 230px;
  max-width: 230px;
}

.productdetails-divider {
  height: 1px;
  width: 90%;
  background-color: #F1E7CD;
}

.productdetails-details {
  display: flex;
  align-self: stretch;
  padding: 9px 16px 16px 16px;
  background-color: aqua;
}

.productdetails-text {
  flex-grow: 1;
  width: 190px;
}

.productdetails h3 {
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
}

.productdetails-button {
  width: 25px;
  height: 25px;
}

.productdetails-description {
  margin: 17px;
}

@media only screen and (min-width: 768px) {
  .productdetails {
    min-width: 264px;
  }
}